In [1]:
from DatasetMapper import DatasetMapper

ImportError: attempted relative import with no known parent package

In [2]:
json_data = '[{"id":null,"name":"hamza","email":"hamzathegreat1234gmail.com","phone_number":"03024444338"}]'

In [16]:
pd.read_json('../utils/mapping_rules.json')

                                                       mapping_rules
Name               {'description': 'Represents the full name of a...
Contact            {'description': 'Represents a phone number or ...
Email              {'description': 'Represents the email address ...
Info               {'description': 'Contains any additional relev...
Location           {'description': 'Represents the geographical l...
_Product_to_pitch  {'description': 'Represents the product or ser...

In [5]:
response,_= mapper.map_dataset(json_data)
print(response)

/home/hamza/Desktop/projects/fyp/crm_integration_service/app/data_pipeline/DatasetMapper.py:83: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df=pd.read_json(json_data)

   id   name                       email  phone_number
0 NaN  hamza  hamzathegreat1234gmail.com    3024444338
dataset
Hamza The Great
    Name     Contact                       Email
0  hamza  3024444338  hamzathegreat1234gmail.com

In [4]:
data = {
    "user_name": "TestUser",
    "user_id": 1234  # Replace with your test user ID
}

# Perform insert operation
response = supabase.table("user").insert(data).execute()

In [3]:
import pandas as pd
import json

json_data = [{'name': 'John Doe', 'age': 30}, {'name': 'Jane Doe', 'age': 25}]


# Convert JSON string to DataFrame|
df = pd.DataFrame(json_data)

# Alternative method using json.loads
# df = pd.DataFrame(json.loads(json_data))

print(df)

       name  age
0  John Doe   30
1  Jane Doe   25

In [4]:
df=pd.read_csv("../../../../../../Downloads/data1.csv")
df

,id,first_name,last_name,email,gender,phone,Channel,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen,Region
0,1,Chas,Rollett,crollett0@icq.com,Male,625-741-0213,2,12669,9656,7561,214,2674,1338,3
1,2,Rockie,Cheney,rcheney1@delicious.com,Male,233-712-5425,2,7057,9810,9568,1762,3293,1776,3
2,3,Gretel,Pole,gpole2@elpais.com,Female,514-912-5355,2,6353,8808,7684,2405,3516,7844,3
3,4,Bertine,Scogings,bscogings3@bizjournals.com,Female,622-446-1554,1,13265,1196,4221,6404,507,1788,3
4,5,Leonid,Shortcliffe,lshortcliffe4@ted.com,Male,384-201-2900,2,22615,5410,7198,3915,1777,5185,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,436,Valery,Ternott,vternottc3@bandcamp.com,Female,238-620-6990,1,29703,12051,16027,13135,182,2204,3
436,437,Roxy,Forsyde,rforsydec4@nymag.com,Female,945-246-6828,1,39228,1431,764,4510,93,2346,3
437,438,Jess,Skrines,jskrinesc5@wikia.com,Genderfluid,936-756-5245,2,14531,15488,30243,437,14841,1867,3
438,439,Burke,Sallan,bsallanc6@wp.com,Male,680-783-4295,1,10290,1981,2232,1038,168,2125,3
439,440,Andrej,Nelligan,anelliganc7@icio.us,Male,771-910-7917,1,2787,1698,2510,65,477,52,3

In [10]:
import requests
import json

data = {
    "user_id": 1212,
    "dataset": df.to_dict(orient="records")  # Convert DataFrame rows to list of dictionaries
}

# API Endpoint
url = "http://127.0.0.1:8000/receive_data"

# Send POST request
response = requests.post(url, headers={"Content-Type": "application/json"}, data=json.dumps(data))

# Print response
print(response.status_code, response.text)

200 {"message":"Data received and stored successfully!","response":{"status":"success","message":"Data inserted successfully"}}

In [13]:
import pandas as pd
from apscheduler.schedulers.background import BackgroundScheduler
from datetime import datetime, timedelta


def schedule_calls():
    scheduler = BackgroundScheduler()
    
    for index, row in df.iterrows():
        call_time = datetime.now() + timedelta(minutes=index * 2)  # Schedule 2 min apart
        scheduler.add_job(make_call, 'date', run_date=call_time, args=[row])
    
    scheduler.start()
    print("Call scheduling started...")
    
    try:
        while True:
            pass  
    except (KeyboardInterrupt, SystemExit):
        scheduler.shutdown()

def make_call(row):
    print(f"Calling {row['first_name']} {row['last_name']} at {row['phone']} (Channel: {row['Channel']}) at {datetime.now()}")

schedule_calls()

/etc/timezone is deprecated on Debian, and no longer reliable. Ignoring.

Call scheduling started...Calling Chas Rollett at 625-741-0213 (Channel: 2) at 2025-02-15 21:36:27.368681

Calling Rockie Cheney at 233-712-5425 (Channel: 2) at 2025-02-15 21:38:27.341183
Calling Gretel Pole at 514-912-5355 (Channel: 2) at 2025-02-15 21:40:27.336208
Calling Bertine Scogings at 622-446-1554 (Channel: 1) at 2025-02-15 21:42:27.341019
Calling Leonid Shortcliffe at 384-201-2900 (Channel: 2) at 2025-02-15 21:44:27.341155
Calling Luci Salzberger at 915-928-9299 (Channel: 2) at 2025-02-15 21:46:27.341309
Calling Hermann McKinnon at 521-918-4394 (Channel: 2) at 2025-02-15 21:48:27.341412
Calling Coral Spurrett at 410-599-2114 (Channel: 2) at 2025-02-15 21:50:27.341497
Calling Ninnette Kollas at 238-483-0331 (Channel: 1) at 2025-02-15 21:52:27.341625
Calling Tremayne Garter at 548-853-4487 (Channel: 2) at 2025-02-15 21:54:27.341691
Calling Bethanne Rickerd at 633-184-6948 (Channel: 2) at 2025-02-15 21:56:27.341699
Calling Sigfrid Ferre at 804-337-6815 (Channel: 2) at 2025-02-15 21:58:27.341805
Calling Alden Pickin at 820-204-4458 (Channel: 2) at 2025-02-15 22:00:27.343068
Calling Porter Newitt at 513-706-7648 (Channel: 2) at 2025-02-15 22:02:27.343194
Calling Emeline Gon at 109-865-1635 (Channel: 2) at 2025-02-15 22:04:27.343278
Calling Uriel Eddies at 381-971-5880 (Channel: 1) at 2025-02-15 22:06:27.343461
Calling Uta Amorine at 895-466-7010 (Channel: 2) at 2025-02-15 22:08:27.343603
Calling Alameda Alldridge at 831-808-3614 (Channel: 1) at 2025-02-15 22:10:27.343641
Calling Marlon Roantree at 317-653-3129 (Channel: 2) at 2025-02-15 22:12:27.343785
Calling Ogden Ivanisov at 554-821-4524 (Channel: 1) at 2025-02-15 22:14:27.343854
Calling Elliott Attersoll at 854-234-2710 (Channel: 2) at 2025-02-15 22:16:27.343962
Calling Skell Wilsdon at 514-197-0541 (Channel: 1) at 2025-02-15 22:18:27.344023